@font-face {
	font-family: "ROThemeFont";
	src: url('/assets/iconfont/fonts/ROThemeFont.eot');
	src: url('/assets/iconfont/fonts/ROThemeFont.eot?#iefix') format('eot'),
		url('/assets/iconfont/fonts/ROThemeFont.woff') format('woff'),
		url('/assets/iconfont/fonts/ROThemeFont.ttf') format('truetype'),
		url('/assets/iconfont/fonts/ROThemeFont.svg#ROThemeFont') format('svg');
}

@mixin ro-icon-styles {
	font-family: "ROThemeFont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%ro-icon {
	@include ro-icon-styles;
}

@function ro-icon-char($filename) {
	$char: "";

	@if $filename == arrow-left {
		$char: "\E001";
	}
	@if $filename == arrow-right {
		$char: "\E002";
	}
	@if $filename == calendar {
		$char: "\E003";
	}
	@if $filename == camera-alt {
		$char: "\E004";
	}
	@if $filename == camera {
		$char: "\E005";
	}
	@if $filename == car {
		$char: "\E006";
	}
	@if $filename == carat-down-empty {
		$char: "\E007";
	}
	@if $filename == carat-down {
		$char: "\E008";
	}
	@if $filename == carat-left {
		$char: "\E009";
	}
	@if $filename == checkmark {
		$char: "\E00A";
	}
	@if $filename == close-alt {
		$char: "\E00B";
	}
	@if $filename == close {
		$char: "\E00C";
	}
	@if $filename == disco-ball {
		$char: "\E00D";
	}
	@if $filename == envelope {
		$char: "\E00E";
	}
	@if $filename == facebook {
		$char: "\E00F";
	}
	@if $filename == film {
		$char: "\E010";
	}
	@if $filename == flower {
		$char: "\E011";
	}
	@if $filename == fork-knife {
		$char: "\E012";
	}
	@if $filename == google-plus {
		$char: "\E013";
	}
	@if $filename == hamburger {
		$char: "\E014";
	}
	@if $filename == heart-empty {
		$char: "\E015";
	}
	@if $filename == heart-full {
		$char: "\E016";
	}
	@if $filename == information {
		$char: "\E017";
	}
	@if $filename == laptop-search {
		$char: "\E018";
	}
	@if $filename == linkedin {
		$char: "\E019";
	}
	@if $filename == list {
		$char: "\E01A";
	}
	@if $filename == lock {
		$char: "\E01B";
	}
	@if $filename == map-pin-alt {
		$char: "\E01C";
	}
	@if $filename == map-pin {
		$char: "\E01D";
	}
	@if $filename == map {
		$char: "\E01E";
	}
	@if $filename == menu-with-text {
		$char: "\E01F";
	}
	@if $filename == phone {
		$char: "\E020";
	}
	@if $filename == photos {
		$char: "\E021";
	}
	@if $filename == presentation {
		$char: "\E022";
	}
	@if $filename == price-tag {
		$char: "\E023";
	}
	@if $filename == questionmark {
		$char: "\E024";
	}
	@if $filename == search {
		$char: "\E025";
	}
	@if $filename == speaker {
		$char: "\E026";
	}
	@if $filename == speech-bubbles {
		$char: "\E027";
	}
	@if $filename == star-empty {
		$char: "\E028";
	}
	@if $filename == star-full {
		$char: "\E029";
	}
	@if $filename == star-half {
		$char: "\E02A";
	}
	@if $filename == table-setting {
		$char: "\E02B";
	}
	@if $filename == twitter {
		$char: "\E02C";
	}
	@if $filename == vendor {
		$char: "\E02D";
	}
	@if $filename == venue-symbol {
		$char: "\E02E";
	}
	@if $filename == wine-glasses {
		$char: "\E02F";
	}

	@return $char;
}

@mixin ro-icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %ro-icon;
		} @else {
			@include ro-icon-styles;
		}
		content: ro-icon-char($filename);
	}
}

.ro-icon-arrow-left {
	@include ro-icon(arrow-left);
}
.ro-icon-arrow-right {
	@include ro-icon(arrow-right);
}
.ro-icon-calendar {
	@include ro-icon(calendar);
}
.ro-icon-camera-alt {
	@include ro-icon(camera-alt);
}
.ro-icon-camera {
	@include ro-icon(camera);
}
.ro-icon-car {
	@include ro-icon(car);
}
.ro-icon-carat-down-empty {
	@include ro-icon(carat-down-empty);
}
.ro-icon-carat-down {
	@include ro-icon(carat-down);
}
.ro-icon-carat-left {
	@include ro-icon(carat-left);
}
.ro-icon-checkmark {
	@include ro-icon(checkmark);
}
.ro-icon-close-alt {
	@include ro-icon(close-alt);
}
.ro-icon-close {
	@include ro-icon(close);
}
.ro-icon-disco-ball {
	@include ro-icon(disco-ball);
}
.ro-icon-envelope {
	@include ro-icon(envelope);
}
.ro-icon-facebook {
	@include ro-icon(facebook);
}
.ro-icon-film {
	@include ro-icon(film);
}
.ro-icon-flower {
	@include ro-icon(flower);
}
.ro-icon-fork-knife {
	@include ro-icon(fork-knife);
}
.ro-icon-google-plus {
	@include ro-icon(google-plus);
}
.ro-icon-hamburger {
	@include ro-icon(hamburger);
}
.ro-icon-heart-empty {
	@include ro-icon(heart-empty);
}
.ro-icon-heart-full {
	@include ro-icon(heart-full);
}
.ro-icon-information {
	@include ro-icon(information);
}
.ro-icon-laptop-search {
	@include ro-icon(laptop-search);
}
.ro-icon-linkedin {
	@include ro-icon(linkedin);
}
.ro-icon-list {
	@include ro-icon(list);
}
.ro-icon-lock {
	@include ro-icon(lock);
}
.ro-icon-map-pin-alt {
	@include ro-icon(map-pin-alt);
}
.ro-icon-map-pin {
	@include ro-icon(map-pin);
}
.ro-icon-map {
	@include ro-icon(map);
}
.ro-icon-menu-with-text {
	@include ro-icon(menu-with-text);
}
.ro-icon-phone {
	@include ro-icon(phone);
}
.ro-icon-photos {
	@include ro-icon(photos);
}
.ro-icon-presentation {
	@include ro-icon(presentation);
}
.ro-icon-price-tag {
	@include ro-icon(price-tag);
}
.ro-icon-questionmark {
	@include ro-icon(questionmark);
}
.ro-icon-search {
	@include ro-icon(search);
}
.ro-icon-speaker {
	@include ro-icon(speaker);
}
.ro-icon-speech-bubbles {
	@include ro-icon(speech-bubbles);
}
.ro-icon-star-empty {
	@include ro-icon(star-empty);
}
.ro-icon-star-full {
	@include ro-icon(star-full);
}
.ro-icon-star-half {
	@include ro-icon(star-half);
}
.ro-icon-table-setting {
	@include ro-icon(table-setting);
}
.ro-icon-twitter {
	@include ro-icon(twitter);
}
.ro-icon-vendor {
	@include ro-icon(vendor);
}
.ro-icon-venue-symbol {
	@include ro-icon(venue-symbol);
}
.ro-icon-wine-glasses {
	@include ro-icon(wine-glasses);
}

.roIcon{
	&--small{
		font-size: 25px;	
	}
}